{%- assign title = "name" -%}
{%- assign group = "select" -%}
{%- assign learning_arr = "" | split: ',' -%}
{%- for learning in site.data.learning -%}
    {%- assign learning_arr = learning_arr | push: learning[1].name[page.lang] -%}
{%- endfor %}
{%- assign learning_arr = learning_arr | sort_natural -%}
<div class="form-group">
  {% include form/components/label-group.html id=include.id title=title group=group param=site.data.forms.param.required_false %}
  <select class="form-control" id="{{ title }}{{ group }}" name="{{ title }}{{ group }}">
    <option value="">&nbsp;</option>
    {%- for learning in learning_arr -%}
      <option value="{{ learning | slugify }}">{{ learning }}</option>
    {%- endfor -%}
  </select>
</div>

{%- include form/presets/name.html id=include.id -%}
